* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
}


/* 
++++++++++++++++++++ Variables of CSS ++++++++++++++++
*/
:root {
    --background-color: #ff699d;
}

/* 
+++++++++++++++++ Comman Classes ++++++++++++++
 */
.container {
    width: 80vw;
    margin: auto;
    overflow-x: hidden;
}

.start-free-trial-btn {
    border: unset;
    color: #fff;
    background-color: var(--background-color);
    border-radius: 25px;
    padding: 12px 25px;
    font-size: 1.1rem;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.mtb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.font-bold {
    font-weight: 900;
}

.font-size-2 {
    font-size: 2rem;
}

.font-size-1 {
    font-size: 1rem;
}

.grey {
    color: grey;
}

@media screen and (max-width:1040px) {
    .container {
        width: 90vw;
    }
}



/* 
++++++++++++ TOP Section ++++++++++++++
 */
.top-section {
    background-image: url("https://images.pexels.com/photos/302769/pexels-photo-302769.jpeg?cs=srgb&dl=pexels-pixabay-302769.jpg&fm=jpg");
}




/* 
++++++++++++ Header ++++++++++++++
 */
header {
    display: flex;
    justify-content: space-between;
}

header .logo .icon {
    font-size: 2.6rem;
    color: #fff;
}

header .logo .icon span {
    font-size: 1.5rem;
    color: #f5f5f5;
}

header .navigation {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navigation li a {
    text-decoration: none;
    margin: auto 12px;
    text-transform: uppercase;
    color: #fff;
}

.mobile-menu {
    color: #fff;
    display: none;
    align-items: center;
}

@media screen and (max-width:940px) {
    header .navigation {
        display: none;
    }

    .mobile-menu {
        display: flex;
    }

    header .navigation.active {
        position: absolute;
        top: 50px;
        right: 20px;
        display: block;
        background-color: #ff699d;
        padding: 15px;
        border-radius: 20px;
        text-align: center;
    }

    header .navigation li {
        padding: 15px 20px;
        border-bottom: 1px solid #f3f3f3;
    }

    header .navigation li:last-child {
        border-bottom: unset
    }
}

@media screen and (max-width:550px) {
    .hero h1 {
        font-size: 2rem !important;
    }
}

/* 
+++++++++++++++ Hero Section +++++++++++++
 */
.hero {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width:550px) {
    .hero {
        height: 70vh;
    }
}


/* 
+++++++++++++ Our Mission Section ++++++++++++
*/
.our-mission {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-mission .content {
    width: 50%;
    padding: 100px 0;
    text-align: center;
}

@media screen and (max-width:550px) {
    .our-mission .content {
        width: 90%;
        padding: 40px 0;
    }
}


/* 
+++++++++++++ Our People Section ++++++++++++
*/
.our-people {
    background-color: rgb(230, 230, 230);
}

.our-people-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.our-people-child .content {
    width: 40%;
    text-align: center;
}

@media screen and (max-width:550px) {
    .our-people-child {
        padding: 40px 0;
    }

    .our-people-child .content {
        width: 90%;
    }
}


/* 
+++++++++++++ Our People Cards Section ++++++++++++
*/
.cards {
    display: flex;
    padding: 50px 0 100px 0;
}

.cards .card {
    margin: 0 10px;
    /* box-shadow: 10px 10px 10px #ddd,-10px 10px 10px #ddd; */
}

.cards .card .content {
    margin: 15px 0;
}

.cards .card .content p {
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 15px;
}

.cards .card .content .name {
    font-size: 1.2rem;
    margin: 10px 0;
}

.cards .card .img {
    height: 300px;
    width: 100%;
}

.cards .card .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



@media screen and (max-width:800px) {
    .cards {
        display: block;
        padding: 40px 0;
    }
    
    .cards .card {
        margin: 30px auto;
        width: 80%;
    }
    .cards .card .img {
        height: 300px;
        width: 100%;
    }
    .cards .card .content span {
        color: rgb(0, 183, 255);
    }
}
@media screen and (max-width:500px) {
    .cards .card .img {
        height: 200px;
    }
}


/* 
+++++++++++++ Bottom Section ++++++++++++
*/
.bottom-section {
    padding: 100px 0;
    background-color: var(--background-color);
    color: #fff;
}

.bottom-section .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-section .heading {
    font-size: 1.2rem;
}

.bottom-section button {
    background-color: #b14b7b;
}

@media screen and (max-width:1150px) {
    .bottom-section .heading {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:662px) {
    .bottom-section .content {
        display: block;
        text-align: center;
    }

    .bottom-section button {
        margin-top: 20px;
    }
}

@media screen and (max-width:550px) {
    .bottom-section {
        padding: 60px 0;
    }
}


/* 
+++++++++++++ Footer Section ++++++++++++
*/
footer .footer-content {
    width: 50vw;
}

footer .footer-content ul {
    width: 100%;
}

footer .container .content {
    display: flex;
    justify-content: space-between;
}

footer ul {
    list-style-type: none;
    padding: 50px 0;
}

footer ul .heading {
    font-size: 1.2rem;
    font-weight: 600;
}

footer ul li {
    margin: 10px 0;
}

footer ul .icon-perent {
    display: inline-block;
    margin-top: 10px;
}

footer ul .icon {
    margin: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(54, 54, 54);
}

footer .copy-right {
    border-top: 1px solid #f1f1f1;
    padding: 50px 10px;
    align-items: center;
}

footer .copy-right .logo {
    font-size: 2.5rem;
    font-weight: 600;
}

@media screen and (max-width:1300px) {
    footer .footer-content {
        width: 70vw;
    }
}

@media screen and (max-width:950px) {
    footer .footer-content {
        width: 100vw;
    }
}

@media screen and (max-width:850px) {
    footer .container .content {
        display: block;
    }

    footer .footer-content {
        width: 100vw;
    }

    footer .copy-right .logo {
        font-size: 1.5rem;
        font-weight: 600;
    }

    footer ul {
        list-style-type: none;
        padding: 10px 0;
    }
}